body {
    color: $green;
    font-size: 16px;
    font-family: $fontDigital;
}

p, .post-byte {
    font-family: "Share Tech Mono", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontDigital;
}

h1 {
    font-weight: normal;
}

h3 {
    margin-bottom: 0;
}

#site-title {
    font-family: $fontDigital;
}



a {
    color: inherit;
    text-shadow: 0 0 3px green, 0 0 5px green, 0 0 10px green;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        background-color: green;
        color: #000;
    }
}

h2 {
    &::after {
        content: "**";
        padding-left: .5em;
    }
    &::before {
        content: "**";
        padding-right: .5em;
    }
    text-align: center;
    padding: 0 2em;
    font-weight: normal;
    text-transform: uppercase;
}

// Blog Post Specific Settings
.post-content {
    h3 {
        text-align: center;
        max-width: 60%;
        margin: 0 auto 2em auto;
        font-weight: normal;

        &::before {
            content: '* ';
        }

        &::after {
            content: ' *';
        }
    }

    hr {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:499px) {
    h1 {
        text-align: center;
    }
    .post-category {
        text-align: center;
    }
    h2 {
        padding: 0;
    }
}

.post-content a {
    text-transform: none;
    font-weight: bold;
}

@media only screen and (min-width: 900px) {
    .post-content h2 {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-content ol, .post-content ul {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
}

button, a.button {
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    color: $green;
    background: transparent;
    padding: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 10px 10px 0;
    outline:none;
    border: 1px solid $green;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
      @include repeating-line-background;
      color: #000;
      border: 1px solid transparent;
      box-shadow: 0 0 40px #0A0, inset 0 0 40px #0A0;
    }
  }

  .bytes-wrapper h2 {
    @include repeating-line-background;
      color: #000;
      text-shadow: 0 0 3px green, 0 0 5px green, 0 0 10px green;
  }