header {
    border: solid 1px;
    padding: 1em;
    margin-bottom: 1.45rem;
    align-items: center;
    .header-child {
        width: 33.3333%;
    }
}

@media only screen and (max-width: 499px) {
    header {
        .header-child {
            display: none;
        }
        .header-child#site-title {
            display: block;
            width: 100%;
        }
    }
}

#site-title {
    text-align: center;
    a {
        text-decoration: none;
        font-size: 2em;
        &:hover {
            text-decoration: none;
        }
    }

}

